$base-primary: #31C7CE;
$base-secondary: white;

$text-primary: black;
$text-secondary: white;
$text-tableHead: #7A7D85;
$text-label: #B6B6B6;
$text-discount: #ED3C47;
$text-rating: #FFC226;

$bg-discount: #FFDBE2;

$btn-primary: linear-gradient(311.55deg, #01ACC4 7.49%, #29C7CF 50.69%, #4CCBCE 111.84%);
$btn-secondary: #DAF6F4;