@import "/assets/css/abstracts/colors";

.homepage {
    margin: 70px 63px;
    display: flex;
    justify-content: space-between;

    &_card {
        display: grid;
        grid-template-columns: 376px 376px;
        gap: 40px;
    }

    &_cart {
    }
}

@media screen and (min-width: 0px) {
    .homepage {
        margin: 70px 63px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &_card {
            display: grid;
            grid-template-columns: 376px;
            gap: 40px;
        }

        &_cart {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .homepage {
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;

        &_cart {
            margin-top: 0px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .homepage_card {
        grid-template-columns: 376px 376px;
    }
}

@media screen and (min-width: 1800px) {
    .homepage_card {
        grid-template-columns: 376px 376px 376px;
    }
}

@media screen and (min-width: 2200px) {
    .homepage_card {
        grid-template-columns: 376px 376px 376px 376px;
    }
}